html {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: auto;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  display: block;
}

picture {
  box-sizing: border-box;
  display: block;
}

a, a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
a:focus, a:active {
  outline: none;
}

input {
  outline: none;
  border: none;
}

button, a {
  cursor: pointer;
  outline: none;
  border: none;
}

textarea {
  outline: none;
}

ul li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
