.flex-contact {}

.form-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form {
  max-width: 500px;
  width: 100%;
}

.contact-form__field {
  position: relative;
  width: 100%;
  margin-bottom: 27px;
}

.form-action {
  display: flex;
  align-items: center;
}

.form-response {
  display: block;
  color: #ff8054;
  font-family: $font-text-light;
  font-size: 15px;
  transition: all .4s ease-in-out;

  visibility: visible;
  opacity: 1;
  &.active {
    visibility: visible;
    opacity: 1;
  }
}

.contact-form__label {
  font-family: $font-text-light;
  @include adaptive-font(16, 14);
  margin-bottom: 5px;
}

.contact-form__input,
.contact-form__label {
  display: block;
  width: 100%;
  background-color: $bg-color;
}

.contact-form__input {
  border: 1px solid #c7c7c7;
  padding: 10px;
  border-radius: $border-radius-btn;
  font-family: $font-text-light;
  transition: border-color .2s ease;
  font-size: 15px;

  &--error {
    border-color: #ff8054;
  }

  &:focus {
    border-color: #9d9d9d;
  }
}

.contact-form__submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 27%;
  height: 40px;
  font-family: $font-text-light;
  @include adaptive-font(16, 14);
  color: $color-primary;
  border: 1px solid #c7c7c7;
  border-radius: $border-radius-btn;
  transition: all .3s ease-in-out;
  background-color: $bg-color;

  &:first-child {
    margin-right: 20px;
  }
  &:hover {
    color: $color-secondary;
    border-color: $color-secondary
  }
}


.error-message {
  position: absolute;
  top: 95%;
  display: block;
  font-family: $font-text-light;
  font-size: 13px;
  color: #ff8054;
  padding: 5px;

  visibility: hidden;
  opacity: 0;
  transition: all .4s ease-in-out;

  &--text {
    top: 98.5%;
  }

  &.active {
    visibility: visible;
    opacity: 1;
  }
}
