@font-face {
  font-family: "WorkSans-Medium";
  src: url("/fonts/WorkSans-Medium.woff") format("woff");
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: "WorkSans-Bold";
  src: url("/fonts/WorkSans-Bold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "Heebo-Regular";
  src: url("/fonts/Heebo-Regular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Heebo-Light";
  src: url("/fonts/Heebo-Light.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}
