@media screen and (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }
  .visually-hidden {
    position: absolute;
    top: -200%;
  }
  .main-content {
    padding: $padding-mob;
    height: auto;
  }
  .main-content--first {
    padding: $padding-mob-first-section;
    height: auto;
  }
  .main-header__nav {
    padding: $padding-header-footer-m;
  }
  .burger-button {
    display: block;
  }
  .nav-menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $bg-color;
    overflow-y: auto;
    z-index: 8;

    &.active {
      top: 0;
    }
  }
  .nav-menu__list {
    /*position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);*/
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .nav-menu__item {
    &:not(.nav-menu__item:last-child) {
      margin-right: 0;
      margin-bottom: 15px
    }
    &:last-child {
      a {
        padding-right: 16px;
      }
    }
  }
  .nav-menu__link {
    padding: 10px 16px;
    font-size: 20px;
  }
  .main-footer {
    z-index: 4;
    position: relative;
    bottom: 0;
  }
  .main-footer__content {
    flex-direction: column;
    justify-content: flex-start;
    padding: $padding-header-footer-m;
  }

  .main-footer__column {
    display: flex;
    align-items: center;
    &:not(.main-footer__column:last-child) {
      margin-bottom: 10px;
    }

    span {
      margin-bottom: 0;
      margin-right: 15px;
    }
    p {
      line-height: normal;
    }
  }
  .column-list {
    a {
      width: 30px;
      height: 30px;
    }
  }
  .flex-main {
    flex-direction: column;
  }
  .flex-main__col {
    width: 100%;
  }
  .main-photo {
    order: 2;
    max-width: 280px;
  }
  .main-about {
    order: 1;
    margin-bottom: 30px;
    p {
      text-align: justify;
    }
  }
  .main-about__actions {
    justify-content: space-between;
    a {
      width: 40%;
    }
  }
  .section-block {
    h4 {
      @include adaptive-font(30, 28);
      margin-bottom: 40px;
    }
  }
  .flex-resume__row {
    &:not(.flex-resume__row:last-child) {
      padding-bottom: 30px;
    }
  }
  .resume-info {
    flex-direction: column;
  }
  .resume-info__when,
  .resume-info__what {
    width: 100%;
  }
  .resume-info__when {
    //display: flex;
    //align-items: flex-end;
    //justify-content: space-between;
    margin-bottom: 10px;
    a {
      @include adaptive-font(22, 20);
      margin-bottom: 0;
      //margin-right: 30px;
    }
    span {
      line-height: 21px;
      font-size: 16px;
    }
  }
  .resume-info__when--skills {
    span {
      font-size: 18px;
    }
  }
  .resume-info__what {
    h5 {
      //@include adaptive-font(18, 16);
      font-family: $font-heading-medium;
      margin-bottom: 5px;
    }
    p {
      text-align: justify;
    }
  }
  .js-slider {
    padding: 20px;
  }
  .js-slider__item {
    flex-direction: column;
  }
  .half-left,
  .half-right {
    width: 100%;
  }
  .half-left {
    order: 2;
  }
  .half-right {
    order: 1;
    margin-bottom: 30px;
  }
  .js-slider__arrow {
    top: 30%;
    width: 20px;
    font-size: 25px;
  }
  .arrow-prev {
    left: -5px;
  }
  .arrow-next {
    right: -5px;
  }
}


// above 1440px
@media screen and(min-width: 1441px) {
  .nav-logo {
    a {
      font-size: 24px;
    }
    span {
      font-size: 16px;
    }
  }
  .nav-menu__link {
    font-size: 16px;
  }
  .main-footer__column {
    span {
      font-size: 18px;
    }
  }
  .copyright {
    font-size: 14px;
  }
  .main-about {
    h1 {
      font-size: 100px;
    }
    h3 {
      font-size: 24px;
    }
    p {
      font-size: 16px;
    }
  }
  .main-about__actions {
    a {
      font-size: 16px;
    }
  }
  .section-block {
    h4 {
      font-size: 26px;
    }
  }
  .resume-info__when {
    span {
      font-size: 16px;
    }
  }
  .resume-info__when--skills {
    span {
      font-size: 18px;
    }
  }
  .resume-info__what {
    h5 {
      font-size: 18px;
    }
  }
  .skill {
    p {
      font-size: 16px;
    }
  }
  .half-left {
    span {
      font-size: 18px;
    }
    p, a {
      font-size: 16px;
    }
  }
  .contact-form__field {
    label {
      font-size: 16px;
    }
  }
}
