body {
  background-color: $bg-color;
}

.img-basic {
  display: block;
  width: 100%;
  object-fit: contain;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  color: $color-primary;
  background-color: $bg-color;
  overflow-y: auto;
}

.content-container {
  max-width: $max-width;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: $padding-desk;
  overflow-y: auto;
}



