body {
  background-color: $bg-color;
}

.visually-hidden {
  position: absolute;
  top: -230%;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  white-space: nowrap;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
}

.img-basic {
  display: block;
  width: 100%;
  object-fit: contain;
}

.img-basic--icon {
  width: 20px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  color: $color-primary;
  background-color: $bg-color;
  overflow-y: auto;
}

.main-content {
  position: relative;
  max-width: $max-width;
  width: 100%;
  margin: 0 auto;
  padding: $padding-desk;
}

.main-content--first {
  display: flex;
  align-items: center;
  padding: $padding-desk-first-section;
  height: calc(100vh - 87px);
}

.main-content--second {
  //height: 100%;
  //overflow: hidden;
  //overflow: scroll;
}

.main-content--third {
  display: flex;
  align-items: center;
  justify-content: center;
  //height: 60vh;
}

.main-content--fourth {
  padding-bottom: 140px;
}

.section-block {
  position: relative;
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;

  h4 {
    position: relative;
    font-family: $font-heading-bold;
    @include adaptive-font(26, 22);
    margin-bottom: 60px;
  }
}

.flex-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  //border: 1px solid red
}

.flex-main__col {
  max-width: 430px;
  width: 48%;
}

// ******** Main Section starts ********
.main-photo {
  border-radius: 100%;
  overflow: hidden;
}

.main-about {
  //border: 1px solid red;

  h1,
  h3 {
    font-family: $font-heading-bold;
  }
  h3 {
    font-family: $font-heading-medium;
    @include adaptive-font(24, 20);
    margin-bottom: 5px
  }

  p {
    font-family: $font-text-regular;
    @include adaptive-font(16, 14);
    line-height: 1.6em;
    margin-bottom: 20px
  }
}

.main-about__actions {
  display: flex;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;
    height: 45px;
    font-family: $font-text-regular;
    @include adaptive-font(16, 14);
    color: $color-primary;
    border: 1.7px solid $color-primary;
    border-radius: $border-radius-btn;
    transition: all .3s ease-in-out;
    background-color: $bg-color;

    &:first-child {
      margin-right: 20px;
    }
    &:hover {
      color: $color-secondary;
      border-color: $color-secondary
    }
  }
}

.scroller {
  position: relative;
  height: 1.3em;
  line-height: 1.3em;
  overflow: hidden;
  width: 100%;
  margin-bottom: 15px;
  @include adaptive-font(40, 28);

  span {
    position: absolute;
    top: 0;
    left: 0;
    animation: slide 5s infinite cubic-bezier(.01,.97,.78,1) 2.5s;
  }
}

/*@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -1.3em;
    //animation-delay: 2s;
  }
  50% {
    top: -2.6em;
  }
  75% {
    top: -3.9em;
  }
}*/
@keyframes slide {
  0% {
    top: 0;
  }
  10% {
    top: 0;
  }
  20% {
    top: -1.3em;
    //animation-delay: 2s;
  }
  30% {
    top: -1.3em;
  }
  40% {
    top: -2.6em;
  }
  50% {
    top: -2.6em;
  }
  60% {
    top: -3.9em;
  }
  70% {
    top: -3.9em;
  }
}
// ******** Main Section ends ********



// ******** Resume Section starts ********
.flex-resume {
  //display: flex;
  //flex-direction: column;
  //justify-content: space-between;
}

.flex-resume__block {
  position: relative;
  transform: translateX(-6%);
  opacity: 0;
  visibility: hidden;
  padding-bottom: 40px;

  transition: all 1.2s cubic-bezier(.29,.6,.44,1.15) .4s;

  &:not(.flex-resume__block:first-child) {
    padding-top: 40px;
    padding-bottom: 40px;
    &:last-child {
      padding-bottom: 0;
    }
  }

  &:nth-child(2) {
    transition-delay: .9s;
  }

/*  h4 {
    font-family: $font-heading-bold;
    @include adaptive-font(26, 22);
    margin-bottom: 60px;
  }*/

  &:not(.flex-resume__block:first-child)::before {
    position: absolute;
    content: "";
    top: 0;
    width: 100%;
    height: 1px;
    background-color: #d7d7d7;
  }
}

.flex-resume__block.anim-active {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}

.flex-resume__row {
  display: flex;
  flex-direction: column;
  &:not(.flex-resume__row:last-child) {
    padding-bottom: 40px;
  }
}

.resume-info {
  display: flex;
}

.resume-info__when {
  width: 30%;
  span {
    display: inline-block;
    font-family: $font-text-light;
    @include adaptive-font(16, 14);
  }
  a {
    color: $color-primary;
    font-family: $font-heading-bold;
    @include adaptive-font(18, 18);
    margin-bottom: 10px;
    text-decoration: underline;
  }
}

.resume-info__when--skills {
  span {
    font-family: $font-text-light;
    @include adaptive-font(18, 16);
  }
}

.resume-info__what {
  width: 70%;

  h5 {
    font-family: $font-heading-bold;
    @include adaptive-font(18, 18);
    margin-bottom: 10px;
  }
  p {
    font-family: $font-text-regular;
    @include adaptive-font(16, 15);
    line-height: 1.6em;
  }
}

.what-links {
  display: flex;
  margin-top: 20px;

  a {
    color: $color-primary;
    font-family: $font-text-light;
    @include adaptive-font(16, 14);
    text-decoration: underline;

    &:first-child {
      margin-right: 20px;

    }
  }
}

.skill {
  &:not(.skill:last-child) {
    margin-bottom: 20px;
  }
  p {
    font-family: $font-text-light;
    @include adaptive-font(16, 14);
  }
}

.skill-bar {
  position: relative;
  height: 6px;
  background-color: #fff;
  //background-color: #d7d7d7;
  border-radius: 6px;
}

.skill-count {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 6px;
  //background-color: #6fd25a;
  background: rgb(52,184,24);
  background: linear-gradient(90deg, rgba(52,184,24,1) 0%, rgba(140,239,116,1) 65%, rgba(181,245,161,1) 100%);
  border-radius: 6px;

  &--html {
    width: 90%;
  }
  &--css {
    width: 85%;
  }
  &--sass {
    width: 70%;
  }
  &--cssanim {
    width: 65%;
  }
  &--js {
    width: 55%;
  }
  &--vue {
    width: 35%;
  }
  &--react {
    width: 10%;
  }
  &--jquery {
    width: 55%;
  }
  &--boot {
    width: 65%;
  }
  &--threejs {
    width: 10%;
  }
  &--git {
    width: 70%;
  }
  &--npm {
    width: 70%;
  }
  &--figma {
    width: 70%;
  }
  &--avocode {
    width: 90%;
  }
  &--gulp {
    width: 70%;
  }
  &--webpack {
    width: 50%;
  }

  &::before {
    position: absolute;
    right: -26px;
    top: 50%;
    transform: translateY(-50%);
    //bottom: 6px;
    font-family: $font-text-light;
    font-size: 14px;
  }
  &--html::before {
    content: "90%";
  }
  &--css::before {
    content: "85%";
  }
  &--sass::before {
    content: "70%";
  }
  &--cssanim::before {
    content: "65%";
  }
  &--js::before {
    content: "55%";
  }
  &--vue::before {
    content: "35%";
  }
  &--react::before {
    content: "10%";
  }
  &--jquery::before {
    content: "55%";
  }
  &--boot::before {
    content: "60%";
  }
  &--threejs::before {
    content: "10%";
  }
  &--git::before {
    content: "70%";
  }
  &--npm::before {
    content: "70%";
  }
  &--figma::before {
    content: "85%";
  }
  &--avocode::before {
    content: "90%";
  }
  &--gulp::before {
    content: "70%";
  }
  &--webpack::before {
    content: "50%";
  }
}

/*@keyframes animated {
  from {
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  to {
    transform: matrix3d(0, 0, 0);
  }
}*/
// ******** Resume Section ends ********


// ******** Projects Section starts ********
.main-content--third {}

.flex-projects {
/*  display: flex;
  justify-content: center;
  align-items: center;*/
}

.half-left {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 230px;

  span {
    display: block;
    font-family: $font-heading-bold;
    @include adaptive-font(18, 18);
  }
  p {
    font-family: $font-text-regular;
    @include adaptive-font(16, 15);
    line-height: 1.6em;
  }
  a {
    display: inline-block;
    font-family: $font-text-light;
    @include adaptive-font(16, 14);
    color: $color-primary;
    text-decoration: underline;
  }
}

.half-right {
  width: 45%;
  border-radius: $border-radius-btn;
  overflow: hidden;
}
// ******** Projects Section ends ********
