// ---------- variables ------------------------------------
$max-width: 1440px;

$font-secondary: "Syne", sans-serif;

$bg-color: #f3f3f3;
//$bg-color: darken(#f3f3f3, 3%);
$color-primary: #242424;
$color-secondary: #dcad76;

$font-heading-bold: "WorkSans-Bold", Arial sans-serif;
$font-heading-medium: "WorkSans-Medium", Arial sans-serif;
$font-text-regular: "Heebo-Regular", Arial sans-serif;
$font-text-light: "Heebo-Light", Arial sans-serif;

$padding-desk-first-section: 80px 30px 20px 30px;
$padding-mob-first-section: 80px 15px 30px 15px;
$padding-desk: 20px 30px 80px;
$padding-mob: 30px 15px;
$padding-header-footer: 10px 30px;
$padding-header-footer-m: 10px 15px;


$border-radius-btn: 6px;



