// ---------- variables ------------------------------------
$max-width: 1920px;

$font-main: "Inter", sans-serif;
$font-secondary: "Syne", sans-serif;

$color-primary: #242424;
$color-secondary: #dcad76;


$parallax-offset: 30vh;
$content-offset: 40vh;
$transition-speed: 1.2s;
$slide-number: 3;

